<div class="container">
  <div class="first-section">
    <div class="first">
      <div style="max-width: 10%">
        <img src="assets/testimonial-2.jpg" alt="img" srcset="" />
      </div>
      <div class="information">
        <p>Name: <span class="text-muted">Morgan Freeman</span></p>
        <p>Profile: <span class="text-muted">Full Stack Developer</span></p>
        <p>Email: <span class="text-muted">Contact@Example.Com</span></p>
        <p>Phone: <span class="text-muted">(617) 557-0089</span></p>
      </div>
      <div class="skill">
        <h3>skil</h3>
        <div>
          <p class="mt-2">HTML 85%</p>
          <div class="w-100 bg-secondary" style="height: 20px">
            <div class="bg-primary" style="height: 20px; width: 85%"></div>
          </div>
        </div>
        <div>
          <p class="mt-2">CSS3 75%</p>
          <div class="w-100 bg-secondary" style="height: 20px">
            <div class="bg-primary" style="height: 20px; width: 75%"></div>
          </div>
        </div>
        <div>
          <p class="mt-2">JAVASCRIPT 90%</p>
          <div class="w-100 bg-secondary" style="height: 20px">
            <div class="bg-primary" style="height: 20px; width: 90%"></div>
          </div>
        </div>
        <div>
          <p class="mt-2">PHP 50%</p>
          <div class="w-100 bg-secondary" style="height: 20px">
            <div class="bg-primary" style="height: 20px; width: 50%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <h2>About Me</h2>
      <p>
        Curabitur Non Nulla Sit Amet Nisl Tempus Convallis Quis Ac Lectus.
        Curabitur Arcu Erat, Accumsan Id Imperdiet Et, Porttitor At Sem.
        Praesent Sapien Massa, Convallis A Pellentesque Nec, Egestas Non Nisi.
        Nulla Porttitor Accumsan Tincidunt.
      </p>
      <p>
        Mauris Blandit Aliquet Elit, Eget Tincidunt Nibh Pulvinar A. Vivamus
        Suscipit Tortor Eget Felis Porttitor Volutpat. Vestibulum Ac Diam Sit
        Amet Quam Vehicula Elementum Sed Sit Amet Dui. Porttitor At Sem.
      </p>
      <p>
        Nulla Porttitor Accumsan Tincidunt. Quisque Velit Nisi, Pretium Ut
        Lacinia In, Elementum Id Enim. Nulla Porttitor Accumsan Tincidunt.
        Mauris Blandit Aliquet Elit, Eget Tincidunt Nibh Pulvinar A.
      </p>
    </div>
  </div>
</div>
