<div *ngIf="!view.ViewOnePage">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>

<div *ngIf="view.ViewOnePage">
  <app-header-two></app-header-two>
  <div id="home" class="mb-5" style="height: 70vw">
    <app-home></app-home>
  </div>
  <div id="about" class="m-5" style="height: 10px"></div>
  <app-about></app-about>
  <div id="serv" class="m-5" style="height: 10px"></div>
  <app-services></app-services>
  <div id="work" class="m-5" style="height: 10px"></div>
  <app-work></app-work>
  <div id="blog" class="m-5" style="height: 10px"></div>
  <app-blog></app-blog>
  <div id="contact" class="m-5" style="height: 10px"></div>
  <app-contact></app-contact>
</div>
<!-- [hidden]="!view.ViewOnePage" -->
