<div class="title text-center mt-5">
  <h3 class="fw-bolder">SERVICES</h3>
  <p class="text-muted">
    Lorem Ipsum, Dolor Sit Amet Consectetur Adipisicing Elit.
  </p>
</div>
<div class="w-85 mt-5 mx-auto row">
  <div
    class="wow animate__bounceInLeft col-md-4 col-sm-6 ps-2"
    data-wow-duration="1s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-solid fa-briefcase"></i>
      <h3 class="mt-4">WEB DESIGN</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
  <div
    class="wow animate__bounceInDown col-md-4 col-sm-6 ps-2"
    data-wow-duration="1.4s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-solid fa-list-check"></i>
      <h3 class="mt-4">WEB DEVELOPMENT</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
  <div
    class="wow animate__bounceInRight col-md-4 col-sm-6 ps-2"
    data-wow-duration="1.8s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-solid fa-chart-simple"></i>
      <h3 class="mt-4">PHOTOGRAPHY</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
  <div
    class="wow animate__bounceInLeft col-md-4 col-sm-6 ps-2"
    data-wow-duration="2s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-solid fa-binoculars"></i>
      <h3 class="mt-4">RESPONSIVE DESIGN</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
  <div
    class="wow animate__bounceInUp col-md-4 col-sm-6 ps-2"
    data-wow-duration="2.6s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-solid fa-palette"></i>
      <h3 class="mt-4">GRAPHIC DESIGN</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
  <div
    class="wow animate__bounceInRight col-md-4 col-sm-6 ps-2"
    data-wow-duration="2.3s"
    data-wow-delay="0s"
  >
    <div class="box bg-white">
      <i class="icon fa-regular fa-calendar-check"></i>
      <h3 class="mt-4">MARKETING SERVICES</h3>
      <p class="text-muted">
        Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Magni Adipisci
        Eaque Autem Fugiat! Quia, Provident Vitae! Magni Tempora Perferendis Eum
        Non Provident.
      </p>
    </div>
  </div>
</div>
