/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box !important;
}
body{
  background-color: whitesmoke;
}
.w-85{
  width: 85%;
}
.h-85{
  height: 85%;
}
